<div class="main-content" role="main">
  <p>Stateless Application</p>
</div>

<div class="shell-wrap" #terminal></div>
<div class="shell-wrap">
  <div class="shell-body css-typing">
      <p>$ info --app-name</p>
      <p>Stateless Application</p>
      <p>$ info --app-technology</p>
      <p>Angular v15</p>
      <p>$ info --app-description</p>
      <p>Stateless application for demos!</p>
      <p>$ <span class="cursor">|</span></p>
  </div>
</div>


<router-outlet></router-outlet>


